<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Alterar senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <h1>Dashboard Telefonia</h1>

    <div class="main-container">
        <div class="form-container">

            <div class="form-body">
                <h2 class="title">Atualizar senha</h2>

                <form action="/change-password" method="POST" class="the-form">

                    <label for="password">Senha Atual</label>
                    <input type="password" name="currentPassword" id="currentPassword" placeholder="Digite sua senha..." required>

                    <label for="password">Nova Senha</label>
                    <input type="password" name="newPassword" id="newPassword" placeholder="Digite sua senha..." required>

                    <label for="confirm-password">Confirmar Nova Senha</label>
                    <input type="password" name="confirm-newPassword" id="confirm-newPassword" placeholder="Repita sua senha..." required>

                    <input type="submit" value="Confirmar">

                </form>

            </div><!-- FORM BODY-->
        </div><!-- FORM CONTAINER -->
    </div>

    <script>
      const form = document.querySelector('.the-form');
      const passwordInput = document.getElementById('newPassword');
      const confirmPasswordInput = document.getElementById('confirm-newPassword');

      form.addEventListener('submit', function (event) {
          const password = passwordInput.value;
          const confirmPassword = confirmPasswordInput.value;

          if (password !== confirmPassword) {
              event.preventDefault();
              alert('As senhas não coincidem. Por favor, digite novamente.');
          }
      });
    </script>
</body>
</html>