<!DOCTYPE html>
<html>
<head>
  <title>Setup</title>
  <style>
    /* Estilos CSS para o setup */
    body {
      background-color: #1a1c1d;
      color: #fff;
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #fff;
      font-size: 40px;
      margin-top: 50px;
    }

    p {
      color: #fff;
      font-size: 18px;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }

    label {
      font-size: 24px;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      width: 250px;
      margin-bottom: 20px;
      background-color: #4c4c4c;
      color: white;
    }

    input[type="submit"] {
      padding: 10px 20px;
      font-size: 18px;
      background-color: #262a2b;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #3e4244;
    }
  </style>
</head>
<body>
  <h1>Criação de Usuário</h1>
  <form action="/setup" method="POST">
    <div>
      <label for="username">Usuário:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <input type="submit" value="Criar Usuário">
    </div>
  </form>
</body>
</html>
